@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');
:root{
    --background-Color: #181F21;
    --card-background: #202B2E;
    --text-light-color: #FFFFFF;
    --card-text-color: rgb(156, 163, 175);
    --font-big: 48px;
    --font-semi-big: 36px;
    --font-weight-big: 700;
    --link-color: #3C86FF;
    --input-border-color: rgb(229, 231, 235);
    --btn-hover-color: #7ea0ee;
    --error-color: crimson;
    --btn-border-color: #ccc;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


